name: CI Pipeline

on:
    push:
        branches: [main]

jobs:
    buils-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build Docker Image
              run: docker build -t ci-test-app day04-dockerize-app/

            - name: Run Container
              run: docker run -d -p 8880:8080 --name test-app ci-test-app sleep 5

            - name: Test Application
              run: curl http://localhost:8880

            - name: cleanup
              run: |
                docker stop test-app
                docker rm test-app