name: CI Pipeline

on:
    push:
        branches: [main]

jobs:
    buils-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build Docker Image
              run: docker build -t ci-test-app day04-dockerize-app/

            - name: Run Container
              run:  |
                docker run -d -p 8980:8080 --name test-app ci-test-app 
                sleep 5

            - name: Check container logs
              run: docker logs test-app

            - name: Test Application
            #   run: curl http://localhost:8980
              run: |
                for i in {1..10}; do
                    if curl -f http://localhost:8980; then
                        echo "App is up"
                        exit 0
                    fi
                        echo "Waiting for app..."
                        sleep 2
                    done
                echo "App failed to start"
                exit 1

            - name: cleanup
              run: |
                docker stop test-app
                docker rm test-app